<template>
   <div>
      <header class="bg-white shadow">
         <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <h2 class="text-xl font-semibold leading-tight text-gray-800">
                Product Detail
            </h2>
         </div>
      </header>
      <div class="max-w-6xl mx-auto">
         <div class="flex flex-col items-center justify-center mx-5 md:mx-0">
            <div class="mt-10 text-4xl font-bold" style="color: #474747">
               Detail Product
            </div>
            <router-link :to="{name: 'productEdit', params: { id: product.id }}" class="px-3 py-1 mt-3 text-sm font-bold text-purple-700 border-2 border-purple-600 rounded-lg">
                Edit Data Product
            </router-link> <br/>
            <div class="flex flex-col text-center">
               <div>Kode : {{ product.product_code }}</div>
               <div>Nama :{{ product.product_name }}</div>
               <div>Kategori ID : {{ product.category_id }}</div>
               <div>Harga : {{ product.price }}</div>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
    export default {
        data() {
            return {
                product:{},
            }
        },
        created() {
            let uri = `/api/product/${this.$route.params.id}`;
            this.axios.get(uri).then((response) => {
                this.product = response.data.data;
            });
        },
        method: {}
    }
</script>
