<template>
   <div>
        <header class="bg-white shadow">
            <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
                <h2 class="text-xl font-semibold leading-tight text-gray-800">
                    Product Create
                </h2>
            </div>
        </header>
        <div class="flex flex-col items-center justify-center mx-5 md:mx-0">
            <div class="mt-10 text-4xl font-bold" style="color: #474747">
                Add Product
            </div>

            <div v-if="errors.length" class="relative px-4 py-3 text-red-700 bg-red-100 border border-red-400 rounded" role="alert">
                <span class="block sm:inline">Terdapat kesalahan dalam insert data</span>
            </div>

            <div class="w-3/4 p-8 mt-10 bg-white rounded shadow">
                <form @submit.prevent="createProduct">
                    <div class="mb-6 md:flex">
                        <div class="md:w-1/3">
                            <label class="block pr-4 mb-3 font-bold text-gray-600 md:text-left md:mb-0" for="product_code">
                                Kode Produk
                            </label> <br/>
                            <label class="block pr-4 mb-3 font-bold text-gray-600 md:text-left md:mb-0" for="product_name">
                                Nama
                            </label><br/>
                            <label class="block pr-4 mb-3 font-bold text-gray-600 md:text-left md:mb-0" for="category_id">
                                Kategori ID (Angka)
                            </label><br/>
                            <label class="block pr-4 mb-3 font-bold text-gray-600 md:text-left md:mb-0" for="price">
                                Harga
                            </label>
                        </div>
                        <div class="md:w-2/3">
                            <input class="block w-full form-input focus:bg-white" id="product_code" type="text" v-model="product.product_code">
                            <input class="block w-full form-input focus:bg-white" id="product_name" type="text" v-model="product.product_name">
                            <input class="block w-full form-input focus:bg-white" id="category_id" type="text" v-model="product.category_id">
                            <input class="block w-full form-input focus:bg-white" id="price" type="text" v-model="product.price">
                        </div>
                    </div>

                    <div class="md:flex md:items-center">
                        <div class="md:w-1/3"></div>
                        <div class="md:w-2/3">
                            <input type="submit" class="px-4 py-2 font-bold text-white bg-purple-700 rounded shadow hover:bg-purple-500 focus:shadow-outline focus:outline-none">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                product:{},
                errors: [],
                product_code: null,
                product_name: null,
                category_id: null,
                price: null,
            }
        },
        methods: {
            createProduct(e){
                // lebih dari satu pake &&
                if (this.$data.product.product_code && 
                    this.$data.product.product_name &&
                    this.$data.product.category_id &&
                    this.$data.product.price ) {

                    this.$swal.fire({
                        title: 'Success',
                        text: "Product created successfully",
                        icon: 'success',
                        timer: 1000
                    });

                    let uri = `/api/product`;
                    this.axios.post(uri, this.product).then((response) => {
                        this.$router.push({name: 'productIndex'});
                    });

                    return true;
                }

                this.errors = [];

                if (!this.product_code)
                    this.errors.push('Kode produk wajib diisi !');

                if (!this.product_name)
                    this.errors.push('Nama produk wajib diisi !');

                if (!this.category_id)
                    this.errors.push('Kategori ID wajib diisi !');
                    
                if (!this.price)
                    this.errors.push('Harga wajib diisi !');

                e.preventDefault();
            }
        }
    }
</script>

<style>
    .form-input,
    .form-textarea,
    .form-select,
    .form-multiselect {
        background-color: #edf2f7;
    }
</style>
