<template>
    <router-link :to="{name: 'orderPage', params: { id: idProduct }}" class="card-wrapper">
        <div class="card-content-wrapper">
            <div class="card-content">
                <span class="small">
                    {{smallTxt}}
                </span>
                <span class="title">
                    {{ title }}
                </span>
                <span class="price">
                    {{ price }}
                </span>
            </div>
        </div>
    </router-link>
</template>

<script>
export default {
    name: "ProductCard",
    props: {
        smallTxt: String,
        title: String,
        price: String,
        idProduct: Number,
    }
}
</script>

<style scoped>

    span {
        display: block;
    }

    .card-wrapper {
        border-radius: 12px;
        border: solid 1px #F8F8F8;
        background: white;

        cursor: pointer;
    }

    .card-content-wrapper {
        padding: 1rem;
    }


    .small {
        font-size: 14px;
        font-weight: 600;
        color: #4c7cc5;
    }

    .price {
        font-weight: 600;
        color: #6a6a6a;
    }

    .title {
        display: flex;
        align-items: flex-end;
        font-size: 1.5rem;
        font-weight: 600;
        color: #212121;

        justify-content: space-between;
    }
</style>
