<template>
    <div class="cart-wrapper">
        <div class="cart-item my-2" v-for="(item, idx) in cartItems" :key="idx">
            <p class="font-sans font-bold truncate ci-pname">
                {{ item.name }}
            </p>
            <p class="font-mono text-gray-400 ci-psub">
                {{ item.price }}
            </p>
        </div>
        <div class="w-full border-t border-gray-300"></div>
        <div class="flex content-end my-2">
            <p class="flex-grow font-sans font-bold truncate">
                Total
            </p>
            <p class="font-mono text-gray-400">
                {{ totalPrice }}
            </p>
        </div>
        <button type="button" class="py-2 mt-3 font-bold text-center text-white bg-green-500 rounded-lg w-full"
            @click="$emit('checkoutClicked', this)"
            >
            Checkout
        </button>
    </div>
</template>

<script>
export default {
    name: "Cart",
    props: {
        cartItems: Array
    },
    computed: {
        totalPrice: function() {
            return this.cartItems.reduce((a,c,i) => {
                        // c = i === 1 ? c.price : c;
                        return a + c.price;
                    }, 0)
        }
    }
}
</script>

<style scoped>
    .cart-wrapper {
        position: fixed;
        right: 2rem;
        bottom: 2rem;

        width: 14rem;
        padding: .5rem .5rem;

        background-color: rgba(255,255,255,.7);
        border-radius: 12px;

        z-index: 10;
    }

    .cart-item {
        display: flex;
    }

    .ci-pname {
        flex-grow: 1;
    }
</style>