<template>
   <div>
      <header class="bg-white shadow">
         <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <h2 class="text-xl font-semibold leading-tight text-gray-800">
                Order Detail
            </h2>
         </div>
      </header>
      <div class="max-w-6xl mx-auto">
         <div class="flex flex-col items-center justify-center mx-5 md:mx-0">
            <div class="mt-10 text-4xl font-bold" style="color: #474747">
               Detail Order
            </div>
            <router-link :to="{name: 'ordersEdit', params: { id: orders.id }}" class="px-3 py-1 mt-3 text-sm font-bold text-purple-700 border-2 border-purple-600 rounded-lg">
                Edit Data Orders
            </router-link> <br/>
            <div class="flex flex-col text-center">
               <div>Product ID : {{ orders.sales_id }}</div>
               <div>User ID :{{ orders.user_id }}</div>
               <div>Quantity : {{ orders.quantity }}</div>
                <div>Unit Price : {{ orders.unit_price }}</div>
               <div>Sub Total : {{ orders.sub_total }}</div>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
    export default {
        data() {
            return {
                orders:{},
            }
        },
        created() {
            let uri = `/api/orders/${this.$route.params.id}`;
            this.axios.get(uri).then((response) => {
                this.orders = response.data.data;
            });
        },
        method: {}
    }
</script>
