<template>
   <div>
        <header class="bg-white shadow">
            <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
                <h2 class="text-xl font-semibold leading-tight text-gray-800">
                    Order Create
                </h2>
            </div>
        </header>
        <div class="flex flex-col items-center justify-center mx-5 md:mx-0">
            <div class="mt-10 text-4xl font-bold" style="color: #474747">
                Add Order
            </div>

            <div v-if="errors.length" class="relative px-4 py-3 text-red-700 bg-red-100 border border-red-400 rounded" role="alert">
                <span class="block sm:inline">Terdapat kesalahan dalam insert data</span>
            </div>

            <div class="w-3/4 p-8 mt-10 bg-white rounded shadow">
                <form @submit.prevent="createOrder">
                    <div class="mb-6 md:flex">
                        <div class="md:w-1/3">
                            <label class="block pr-4 mb-3 font-bold text-gray-600 md:text-left md:mb-0" for="product_id">
                                Product ID
                            </label> <br/>
                            <label class="block pr-4 mb-3 font-bold text-gray-600 md:text-left md:mb-0" for="user_id">
                                User ID
                            </label><br/>
                            <label class="block pr-4 mb-3 font-bold text-gray-600 md:text-left md:mb-0" for="quantity">
                                Quantity
                            </label><br/>
                            <label class="block pr-4 mb-3 font-bold text-gray-600 md:text-left md:mb-0" for="unit_price">
                                Unit Price
                            </label><br/>
                            <label class="block pr-4 mb-3 font-bold text-gray-600 md:text-left md:mb-0" for="sub_total">
                                Sub Total
                            </label>
                        </div>
                        <div class="md:w-2/3">
                            <input class="block w-full form-input focus:bg-white" id="product_id" type="text" v-model="order.product_id">
                            <input class="block w-full form-input focus:bg-white" id="user_id" type="text" v-model="order.user_id">
                            <input class="block w-full form-input focus:bg-white" id="quantity" type="text" v-model="order.quantity">
                            <input class="block w-full form-input focus:bg-white" id="quantity" type="text" v-model="order.unit_price">
                            <input class="block w-full form-input focus:bg-white" id="sub_total" type="text" v-model="order.sub_total">
                        </div>
                    </div>

                    <div class="md:flex md:items-center">
                        <div class="md:w-1/3"></div>
                        <div class="md:w-2/3">
                            <input type="submit" class="px-4 py-2 font-bold text-white bg-purple-700 rounded shadow hover:bg-purple-500 focus:shadow-outline focus:outline-none">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                orders:{},
                errors: [],
                product_id: null,
                user_id: null,
                quantity: null,
                unit_price:null,
                sub_total: null,
            }
        },
        methods: {
            createOrders(e){
                // lebih dari satu pake &&
                if (this.$data.orders.product_id && 
                    this.$data.orders.user_id &&
                    this.$data.orders.quantity &&
                    this.$data.orders.unit_price &&
                    this.$data.orders.sub_total ) {

                    this.$swal.fire({
                        title: 'Success',
                        text: "Sales created successfully",
                        icon: 'success',
                        timer: 1000
                    });

                    let uri = `/api/orders`;
                    this.axios.post(uri, this.orders).then((response) => {
                        this.$router.push({name: 'ordersIndex'});
                    });

                    return true;
                }

                this.errors = [];

                if (!this.product_id)
                    this.errors.push('Produk ID wajib diisi !');

                if (!this.user_id)
                    this.errors.push('User ID wajib diisi !');

                if (!this.quantity)
                    this.errors.push('Kuantitas wajib diisi !');

                if (!this.unit_price)
                    this.errors.push('Unit Price wajib diisi !');
                    
                if (!this.sub_total)
                    this.errors.push('Sub total wajib diisi !');

                e.preventDefault();
            }
        }
    }
</script>

<style>
    .form-input,
    .form-textarea,
    .form-select,
    .form-multiselect {
        background-color: #edf2f7;
    }
</style>
