<template>
   <div>
    <header class="bg-white shadow">
        <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <h2 class="text-xl font-semibold leading-tight text-gray-800">
                Orders
            </h2>
        </div>
    </header>

      <div class="max-w-6xl mx-auto">
         <div class="flex flex-col items-center justify-center mx-5 md:mx-0">
            <router-link :to="{ name: 'ordersCreate' }" class="px-3 py-1 mt-3 text-sm font-bold text-purple-700 border-2 border-purple-600 rounded-lg">
                + | Data Orders
            </router-link>
            <table class="w-full mt-10 table-fixed">
               <thead>
                  <tr class="text-white bg-purple-500 shadow-lg">
                     <th class="py-2">Product ID</th>
                     <th class="py-2">User ID</th>
                     <th class="py-2">Quantity</th>
                     <th class="py-2">Unit Price</th>
                     <th class="py-2">Sub Total</th>
                     <th class="py-2">Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr v-for="(orders, index) in orders" :key="orders.id">
                     <td class="py-4 text-center border-b-2 border-gray-300">{{ orders.product_id }}</td>
                     <td class="py-4 text-center border-b-2 border-gray-300">{{ orders.user_id }}</td>
                     <td class="py-4 text-center border-b-2 border-gray-300">{{ orders.quantity }}</td>
                     <td class="py-4 text-center border-b-2 border-gray-300">{{ orders.unit_price }}</td>
                     <td class="py-4 text-center border-b-2 border-gray-300">{{ orders.sub_total }}</td>
                     <td class="text-center border-b-2 border-gray-300">
                           <div class="flex justify-center space-x-4 font-bold">
                              <router-link :to="{name: 'ordersShow', params: { id: orders.id }}" class="text-blue-500">Detail</router-link>
                              <button class="text-red-500" @click="deleteOrders(orders.id, index)">Delete</button>
                           </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</template>

<script>
export default {
    data() {
        return {
          orders: []
        }
      },
    created() {
        let uri = '/api/orders';
        this.axios.get(uri).then(response => {
            this.orders = response.data.data;
            console.log(response.data.data)
        });
    },
    methods: {
        deleteOrders(id, index)
        {
            this.$swal.fire({
                title: 'Apakah anda yakin ingin menghapus order ini?',
                text: "Jika anda hapus, maka data tidak akan kembali lagi.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.value) {
                    this.$swal.fire({
                        title: 'Success!',
                        text: 'Order deleted successfully',
                        icon: 'success',
                        timer: 1000
                    });

                    console.log(`ini indexnya ${index}`)

                    let uri = `/api/orders/${id}`;
                    this.axios.delete(uri).then(response => {
                        location.reload()
                    });

                    console.log("Deleted order with id ..." +id);
                }
            })
        }
    }
  }
</script>
