<template>
   <div>
      <header class="bg-white shadow">
         <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <h2 class="text-xl font-semibold leading-tight text-gray-800">
                Order
            </h2>
         </div>
      </header>
      <div class="max-w-sm mx-auto md:max-w-lg lg:max-w-2xl">
        <div class="p-8 mt-10 bg-white rounded shadow">
         <div class="flex flex-col items-center justify-center mx-5 md:mx-0">
            <div class="mt-10 text-4xl font-bold" style="color: #474747">
               {{ product.product_name }}
            </div>
            <div class="mt-1 text-lg font-medium" style="color: #777777" v-if="product.category !== null">
               {{ product.category.name }}
            </div>
              <div class="flex space-x-4 mt-7">
                  <button type="button" v-on:click="increase" class="px-3 py-1 text-lg font-bold text-center border-2 border-black rounded">+</button>
                  <div class="mt-2 text-xl">{{ qty }}</div>
                  <button type="button" :disabled="qty <= 1" v-on:click="decrease" class="px-3 py-1 text-xl font-bold text-center border-2 border-black rounded">-</button>
              </div>
              <div v-if="price !== 0" class="mt-5 text-2xl font-bold" style="color: #7561f8">
                Rp{{ price }}
              </div>
            <button v-on:click="insertSales" class="py-3 mt-6 font-bold text-center text-white bg-purple-600 rounded-lg w-60 text-">
                Order
            </button>
         </div>
         </div>
      </div>
   </div>
</template>

<script>
    export default {
        data(){
            return {
                product:{},
                errors: [],
                qty: 1,
                price: 0,
            }
        },
        created() {
            let uri = `/api/product/${this.$route.params.id}`;
            this.axios.get(uri).then((response) => {
                this.product = response.data.data;
                this.price = this.product.price;

                console.log(response)
            });
        },
        methods: {
            increase() {
                this.qty++;
                this.price = this.product.price * this.qty
            },
            decrease() {
                this.qty--;
                this.price = this.product.price * this.qty
            },
            insertSales(){
                // Validate qty and price
                if (this.price !== this.product.price * this.qty) {
                    return;
                }

                let data = {
                        product_id: this.product.id,
                        unit_price: this.product.price,
                        quantity: this.qty,
                        sub_total: this.price
                    }

                axios({
                    method: 'post',
                    url: '/api/order',
                    data: data
                })
                .then((resp) => {
                    this.$emit('createOrder', {response: resp, data: data, product: this.product})
                    this.$router.push({name: 'dashboard'})
                })

            }
        }
    }
</script>
