<template>
    <div class="app-wrapper">
        <router-view v-on:createOrder="createOrder"></router-view>
        <cart :cartItems="orders" v-if="orders.length !== 0" v-on:checkoutClicked="checkout" />
    </div>
</template>

<script>
import Cart from "./floating/Cart";

export default {
    components: {
        Cart
    },
    data: () => ({
        orders: [],
        orderData: []
    }),
    methods: {
        createOrder(e) {
            console.log(e)
            
            this.orderData.push(e.response.data.data);

            this.orders.push({
                name: e.product.product_name,
                price: e.data.sub_total
            });

            console.log(this.orderData);
        },
        checkout() {
            let updateOrderInvoice = (order_id, invoice_id) => {
                return new Promise((res, rej) => {
                    axios({
                        method: 'put',
                        url: '/api/order/'+order_id,
                        data: {
                            invoice_id: invoice_id
                        }
                    })
                    .then((resp) => {
                        console.log('order update', resp)
                        res(resp)
                    })
                    .catch((err) => {
                        rej(err)
                    })
                })
            }

            let updateOrdersInvoice = (invoice_id) => {
                this.orderData.forEach((v, i) => {
                    updateOrderInvoice(v.id, invoice_id)
                })
            }

            let updateInvoice = (invoice_id, data) => {
                return new Promise((res, rej) => {
                    axios({
                        method: 'put',
                        url: '/api/invoice/'+invoice_id,
                        data: data
                    })
                    .then((resp) => {
                        res(resp)
                    })
                    .catch((err) => {
                        rej(err)
                    })
                })
            }

            // Create invoice
            axios({
                method: 'post',
                url: '/api/invoice',
                data: {
                    user_id: 1
                }
            })
            .then((resp) => {
                console.log(resp)
                // update invoice_id on each order
                updateOrdersInvoice(resp.data.data.id)
                
                // update invoice total_amount
                updateInvoice(resp.data.data.id, {
                    total_amount: this.orders.reduce((a,c,i) => {
                                        return a + c.price;
                                    }, 0),
                    payment_type: 'Bank Transfer'
                })
                .then((resp) => {
                    this.orders = []
                    this.orderData = []
                    this.$swal.fire('Checkout Success', 'Pembelian berhasil dilakukan', 'success');
                })
                .catch((err) => {
                    this.$swal.fire('Checkout Success', 'Pembelian berhasil dilakukan', 'error');
                })
            })
        }
    }
}
</script>
