<template>
    <div class="view-wrapper">
        <div class="mt-20">Home Page</div>
        <div class="pc-wrapper" v-if="products.length !== 0">
            <product-card
                v-for="(product, idx) in products"
                :key="idx"
                :title="product.product_name"
                :price="String(product.price)"
                :smallTxt="product.category.name"
                :idProduct="product.id"
                />
        </div>
    </div>
</template>

<script>
import ProductCard from "./product/ProductCard"
import Loading from "./state/Loading"

export default {
    name: "Home",
    components: {
        ProductCard,
        Loading
    },
    data: () => ({
        products: []
    }),
    created() {
        axios({
            method: "get",
            url: '/api/product',
        })
        .then((resp) => {
            this.products = resp.data.data
        })
    }
}

</script>

<style scoped>
    .pc-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: .5rem;
        grid-row-gap: .5rem;
    }
</style>
