<template>
   <div>
      <header class="bg-white shadow">
         <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <h2 class="text-xl font-semibold leading-tight text-gray-800">
                Category Detail
            </h2>
         </div>
      </header>
      <div class="max-w-6xl mx-auto">
         <div class="flex flex-col items-center justify-center mx-5 md:mx-0">
            <div class="mt-10 text-4xl font-bold" style="color: #474747">
               Detail Category
            </div>
            <router-link :to="{name: 'categoryEdit', params: { id: category.id }}" class="px-3 py-1 mt-3 text-sm font-bold text-purple-700 border-2 border-purple-600 rounded-lg">
                Edit Data Category
            </router-link>
            <div class="flex flex-col">
               <div>{{ category.name }}</div>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
    export default {
        data() {
            return {
                category:{},
            }
        },
        created() {
            let uri = `/api/categories/${this.$route.params.id}`;
            this.axios.get(uri).then((response) => {
                this.category = response.data.data;
            });
        },
        method: {}
    }
</script>
