<template>
   <div>
        <header class="bg-white shadow">
            <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
                <h2 class="text-xl font-semibold leading-tight text-gray-800">
                    Category Edit
                </h2>
            </div>
        </header>
        <div class="flex flex-col items-center justify-center mx-5 md:mx-0">
            <div class="mt-10 text-4xl font-bold" style="color: #474747">
                Edit Category
            </div>

            <div v-if="errors.length" class="relative px-4 py-3 text-red-700 bg-red-100 border border-red-400 rounded" role="alert">
                <span class="block sm:inline">Terdapat kesalahan dalam edit data</span>
            </div>

            <div class="w-3/4 p-8 mt-10 bg-white rounded shadow">
                <form @submit.prevent="updateCategory">
                    <div class="mb-6 md:flex">
                        <div class="md:w-1/3">
                            <label class="block pr-4 mb-3 font-bold text-gray-600 md:text-left md:mb-0" for="name-text">
                                Name
                            </label>
                        </div>
                        <div class="md:w-2/3">
                            <input class="block w-full form-input focus:bg-white" id="name" type="text" v-model="category.name">
                        </div>
                    </div>

                    <div class="md:flex md:items-center">
                        <div class="md:w-1/3"></div>
                        <div class="md:w-2/3">
                            <input type="submit" class="px-4 py-2 font-bold text-white bg-purple-700 rounded shadow hover:bg-purple-500 focus:shadow-outline focus:outline-none">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                category:{},
                errors: [],
                name: null,
            }
        },
        created() {
            let uri = `/api/categories/${this.$route.params.id}`;
            this.axios.get(uri).then((response) => {
                this.category = response.data.data;
            });
        },
        methods: {
            updateCategory(e){

                // lebih dari satu pake &&
                if (this.$data.category.name) {
                    this.$swal.fire({
                        title: 'Success',
                        text: "Category updated successfully",
                        icon: 'success',
                        timer: 1000
                    });

                    let uri = `/api/categories/${this.$route.params.id}/update`;
                    this.axios.put(uri, this.category).then((response) => {
                        this.$router.push({name: 'categoryIndex'});
                    });

                    return true;
                }

                this.errors = [];

                if (!this.name)
                    this.errors.push('Name wajib diisi !');

                e.preventDefault();
            }
        }
    }
</script>

<style>
    .form-input,
    .form-textarea,
    .form-select,
    .form-multiselect {
        background-color: #edf2f7;
    }
</style>
